body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c2e9fb, #5ad3e6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    color: #161616;
    margin-bottom: 20px;
}

div {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #161616;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #161616;
    border: 1px solid #161616;
}
dc